[1m[32m==>(B[m[1m Making package: linux-pinenote-hrdl v6.15.rc3.r329.gbddeeb4-1 (Tue Apr 22 20:44:52 2025)(B[m
[1m[32m==>(B[m[1m Retrieving sources...(B[m
[1m[34m  ->(B[m[1m Found linux-pinenote-hrdl-v6.15.rc3.r329.gbddeeb4.tar.gz(B[m
[1m[34m  ->(B[m[1m Found linux.preset(B[m
[1m[34m  ->(B[m[1m Found config(B[m
[1m[32m==>(B[m[1m Validating source files with sha256sums...(B[m
pkgbase = linux-pinenote-hrdl
	pkgdesc = Linux kernel for PineNote
	pkgver = v6.15.rc3.r329.gbddeeb4
	pkgrel = 1
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = kmod
	options = !strip
	source = linux-pinenote-hrdl-v6.15.rc3.r329.gbddeeb4.tar.gz::https://git.sr.ht/~hrdl/linux/archive/bddeeb47679c8a871c95c557664b890c17a4679f.tar.gz
	source = linux.preset
	source = config
	sha256sums = e403181ab24f5e476319a4a36d171947f0e027e9204de1494b8f881595947fa4
	sha256sums = 4521b5fc8964affe10f14c5bfa3ca9d12011c986f1f07d9d150d0726308fb9a1
	sha256sums = db045ac90906f0b7fd081786f4b4ee645b6d42124ce409afcaa237ee13f373ed

pkgname = linux-pinenote-hrdl
	pkgdesc = The Linux kernel and modules for PineNote
	install = linux-pinenote-hrdl.install
	depends = coreutils
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = linux=v6.15.rc3.r329.gbddeeb4
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	conflicts = linux

pkgname = linux-pinenote-hrdl-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel for PineNote
	provides = linux-headers=v6.15.rc3.r329.gbddeeb4
	conflicts = linux-headers
